/* This is one way TAILWINDCSS help us applying multiple classes within a custom rule/selector */
/* For this case, it was not useful since it overrides other classes conditionally applied in the html */

/* @reference "tailwindcss";

button {
  @apply w-full h-16 outline-none focus:outline-none hover:bg-indigo-700/20 text-white/50 text-xl font-light;
} */
